<title>ISU-Channel</title>
<link rel="stylesheet" href="/static/style.css">

<div class="main">
    <header>
        <h1>ISU-Channel</h1>
    </header>
    <div>
        <p>描ける巨大匿名掲示板サイト！</p>
        <form method="POST" action="/rooms" class="new-room">
            <h3>新規部屋作成</h3>
            <label>
                部屋名: 
                <input type="text" placeholder="例: ひたすら椅子を描く部屋" required name="name">
            </label>
            <input type="hidden" name="token" value="{{ .CSRFToken }}">
            <button class="create">作成</button>
        </form>
    </div>
    <ul class="room-list">
        {{ range .Rooms }}
        <li class="room-info">
            <a href="/rooms/1234">
                <img class="thumbnail" src="">
                <p class="name">部屋名</p>
                <p class="member-count">100人が参加</p>
            </a>
        </li>
        {{ end }}
    </ul>
</div>