<title>ISU-Channel</title>
<link rel="stylesheet" href="/static/style.css">

<div class="main">
    <header>
        <h1>ISU-Channel</h1>
    </header>
    <div>
        <p>匿名便所の落描きサービス</p>
    </div>
    <ul class="room-list">
        {{ range .Rooms }}
        <li class="room-info">
            <a href="/rooms/1234">
                <img class="thumbnail" src="">
                <p class="name">タイトル</p>
                <p class="member-count">100人が参加</p>
            </a>
        </li>
        {{ end }}
    </ul>
</div>