{{define "content"}}
<div class="row">
  <div id="plot" style="height: 300px;"></div>
  <script>
    Highcharts.setOptions({useUTC: false});
    new Chartkick.LineChart("plot", {{.PlotData}}, {min: 0});
  </script>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team</th>
        <th>Score</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range $score := .Ranking}}
        {{if (ne $score.Team.ID 9999) }}
          <tr {{if $.Team}}{{if (eq $score.Team.ID $.Team.ID)}}class="warning"{{end}}{{end}}>
            <td>{{if (eq "👼" $score.Team.Name)}}<img src="//cdn.jsdelivr.net/emojione/assets/png/1f607.png?v=2.2.6" style="width:1.5em;height:1.5em;" alt=":innocent:">{{else}}{{$score.Team.Name}}{{end}}</td>
            <td>{{$score.Latest}}</td>
            <td>{{$score.At}}</td>
          </tr>
        {{end}}
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
