{{define "content"}}

<div class="row">
  {{range $item := .Messages}}
    <p class="alert alert-{{$item.Kind}}">{{if $item.MessageHTML}}{{$item.MessageHTML}}{{else}}{{$item.Message}}{{end}}</p>
  {{end}}
</div>

{{if .Team}}
<div class="row">
  <h2>ベンチマークキュー</h2>
  <p>
  {{range .Jobs}}
  <span class="label {{if (eq .Status "running")}}label-success{{else}}label-default{{end}}">{{.TeamID}}{{if (eq $.Team.ID .TeamID)}}*{{end}}</span>
  {{end}}
  </p>
  <form action="/queue" method="POST">
    {{if .Team.IPAddr}}
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Enqueue">
      </div>
    {{else}}
      <p class="alert alert-warning">ページ下部の「運営向け情報」からIPアドレスを登録してください。</p>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Enqueue" disabled>
      </div>
    {{end}}
  </form>
</div>
{{end}}

<div class="row">
  <h2>リーダーボード</h2>

  {{if .IsRankingFixed}}
    <p class="alert alert-warning">競技残り1時間を切りました。自チームを除き、スコアの表示は固定されています。</p>
  {{end}}

  <div id="plot" style="height: 300px;"></div>
  <script>
    Highcharts.setOptions({useUTC: false});
    new Chartkick.LineChart("plot", {{.PlotLines}}, {min: 0});
  </script>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Score</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range $i, $latestScore := .LatestScores}}
        <tr {{if $.Team}}{{if (eq $latestScore.TeamID $.Team.ID)}}class="warning"{{end}}{{end}}>
          <td>{{plusOne $i}}</td>
          <td>{{if (eq "👼" $latestScore.TeamName)}}<img src="//cdn.jsdelivr.net/emojione/assets/png/1f607.png?v=2.2.6" style="width:1.5em;height:1.5em;" alt=":innocent:">{{else}}{{$latestScore.TeamName}}{{end}}</td>
          <td>{{$latestScore.Score}}</td>
          <td>{{$latestScore.At}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>

{{if $.Team}}
<div class="row">
  <h2>あなたのチームの履歴</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>PASS/FAIL</th>
        <th>Score</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {{range $i, $r := .TeamResults}}
        <tr>
          <td>{{$r.At}}</td>
          <td>{{if $r.Pass}}PASS{{else}}FAIL{{end}}</td>
          <td>{{$r.Score}}</td>
          <td>
            {{if $r.Msg}}<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#msg-{{$r.ID}}">見る</button>{{end}}
            <!-- Modal -->
            <div class="modal fade" id="msg-{{$r.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{$r.At}} [{{if $r.Pass}}PASS{{else}}FAIL{{end}}] {{$r.Score}}</h4>
                  </div>
                  <div class="modal-body">
                    <pre><code>{{$r.Msg}}</code></pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{if .Team}}
<div class="row">
  <h2>運営向け情報</h2>
  <form action="/team" method="POST">
    <div class="form-group">
      <label>グローバルIPv4アドレス</label>
      <input class="form-control" type="text" name="ip_address" value="{{.Team.IPAddr}}" autocomplete="off">
    </div>
    <div class="form-group">
      <label>競技に使用したインスタンス名（スペース区切りで4個まで）</label>
      <input class="form-control" type="text" name="instance_name" value="{{.Team.InstanceName}}" autocomplete="off">
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="更新">
    </div>
  </form>
</div>
{{end}}

{{end}}
