{{define "content"}}
{{if .ErrorMessage}}
<p class="alert alert-danger">{{.ErrorMessage}}
{{end}}
<form action="" method="POST">
    <div class="form-group">
        <label>Team ID</label>
        <input class="form-control" type="text" name="team_id" pattern="[0-9]+" required placeholder="1234">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" required>
    </div>
    <p><input class="btn btn-primary" type="submit">
</form>

<div class="row">
  <h2>リーダーボード</h2>

  <div id="plot" style="height: 300px;"></div>
  <script>
    Highcharts.setOptions({useUTC: false});
    new Chartkick.LineChart("plot", {{.PlotLines}}, {min: 0});
  </script>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Score</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range $i, $latestScore := .LatestScores}}
        <tr {{if $.Team}}{{if (eq $latestScore.TeamID $.Team.ID)}}class="warning"{{end}}{{end}}>
          <td>{{plusOne $i}}</td>
          <td>{{if (eq "👼" $latestScore.TeamName)}}<img src="//cdn.jsdelivr.net/emojione/assets/png/1f607.png?v=2.2.6" style="width:1.5em;height:1.5em;" alt=":innocent:">{{else}}{{$latestScore.TeamName}}{{end}}</td>
          <td>{{$latestScore.Score}}</td>
          <td>{{$latestScore.At}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
